<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desenvolvedores | Dama-On</title>
    <link rel="stylesheet" href="/dama.css" />
</head>

<body class="log">
    <header class="cabecalho">
        <div class="dama-icon">
            <img src="/img/icon-dama.avif" class="icone-dama" />
            <span class="titulo-proj">Dama-On</span>
        </div>

        <div class="menu">
            <a href="/home.html">HOME</a>
            <a href="documentacao">SOBRE O PROJETO</a>
            <a href="desenvolvedores">DESENVOLVEDORES</a>
            <a href="cadastro" class="form-cadastro">SIGN UP</a>
            <a href="login" class="form-login">LOGIN</a>
        </div>
    </header>

    <div class="meio-pagina">
        <div class="dev">
            <div class="dev-card">
                <img src="/img/nicolas.png" alt="Foto de Perfil do Densenvolvedor" class="dev-foto" />
                <p class="nome-dev" style="font-size: 16pt">
                    Nicolas Gaiovicz Avila
                </p>
                <div class="dev-info">
                    <p>RA: 74.225.010-3 | E-mail: unifniavila@fei.edu.br</p>
                </div>
            </div>
            <div class="about">
                <h1>Eai! Beleza?</h1>
                <p class="sub-title" style="font-size: 16pt">
                    Bem-vindo ao nosso site.
                </p>
                <p>
                    Me chamo Nicolas Gaiovicz Avila, atualmente estudo
                    Ciência da Computação na FEI São Paulo e trabalho na
                    Pefisa Pernambucanas como jovem aprendiz, atuando como
                    auxiliar administrativo. No meu trabalho desempenho
                    funções como: analises de relatórios e auditoria de
                    ligações de call-centers. No meu dia a dia uso
                    bibliotecas como o selenium e pandas da linguagem python
                    para automatizar analises e envios de relatórios que
                    possuem frequencia diaria.
                </p>
            </div>
        </div>

        <div class="dev">
            <div class="dev-card">
                <img src="/img/vitoria.png" alt="Foto de Perfil do Densenvolvedor" class="dev-foto" />
                <p class="nome-dev" style="font-size: 16pt">
                    Vitoria Carolyne Martins
                </p>
                <div class="dev-info">
                    <p>
                        RA: 74.225.003-8 | E-mail: feispvitoria@fei.edu.br
                    </p>
                </div>
            </div>
            <div class="about">
                <h1 style="font-size: 28pt">Olá, pessoas!</h1>
                <p class="sub-title" style="font-size: 16pt">
                    Bem-vindo ao nosso mundo.
                </p>
                <p>
                    Sou Vitoria Martins, estudante de Ciência da Computação
                    no Centro Universitário FEI e colaboradora do Projeto
                    Dama-On. Minha maior motivação é a curiosidade — estou
                    em plena fase de descoberta desse mundo enorme (e
                    incrível) da tecnologia. Sou aplicada, dedicada e adoro
                    explorar novos caminhos. Além da rotina acadêmica, sou
                    apaixonada por videogames, especialmente jogos de
                    exploração. No fundo, é tudo sobre descobrir mundos
                    novos, aprender algo diferente e me divertir no
                    processo. Sempre curiosa e sempre animada para aprender
                    cada vez mais.
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <hr class="linha-footer" />
        <p>2025 feito por Nicolas Gaiovicz e Vitoria Martins.</p>
        <p>Brasil</p>
    </div>
    <script src="/public/script.js"></script>
</body>

</html>
