<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login | Dama-On</title>
    <link rel="stylesheet" href="/dama.css">
</head>
<body>
    <header class="cabecalho">
        <div class="dama-icon">
            <img src="/img/icon-dama.avif" class="icone-dama">
            <span class="titulo-proj">Dama-On</span>
        </div>

        <div class="menu">
            <a href="/home.html">HOME</a>
            <a href="documentacao">SOBRE O PROJETO</a>
            <a href="desenvolvedores">DESENVOLVEDORES</a>
            <a href="cadastro" class="form-cadastro">SIGN UP</a>
            <a href="login" class="form-login">LOGIN</a>
        </div>
    </header>    

    <div class="card-login">
        <div class="painel-forms" style="position: relative;top: 55px">
            <h4 style="margin-bottom: 30px;">LOGIN</h4>
            <form id="loginForm" action="/api/auth/login" method="post">
                <label for="email"></label>
                <input type="text" id="email" name="email" placeholder="Email" required><br><br>
                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="Senha" required><br><br>
                <input type="submit" value="Login" id="bt-login">
            </form>
        </div>
    </div>

    <div class="img-right-login">
        <img src="/img/img-dama.png" style="width: 750px; height: 420px">   
    </div>

    <div class="footer">
        <hr class="linha-footer">
        <p></br>2025 feito por Nicolas Gaiovicz e Vitoria Martins.
        </p>
        <p>Brasil</p>
    </div>
    <script src="script.js"></script>
</body>
</html>